<!DOCTYPE html>
<html>
    <head>
        <title>Job Search</title>
        <style>
            section {
                display : grid;
                gap:5px;
                grid-template-columns: repeat(7,1fr);
            }
        </style>
    </head>
    <body>
        <h1>Seach Results</h1>
        <h3>Found {{resultsNumber}} results for : {{searchingBy}}</h3>
        <a href="/export?word={{searchingBy}}">Export to CSV</a>
        <section>
            <h4>Company</h4>
            <h4>Location</h4>
            <h4>Title</h4>
            <h4>Time</h4>
            <h4>Pay</h4>
            <h4>Due</h4>
            <h4>Link</h4>
            {% for job in job_result%}
                <span>{{job.name}}</span>
                <span>{{job.place}}</span>
                <span>{{job.title}}</span>
                <span>{{job.time}}</span>
                <span>{{job.pay}}</span>
                <span>{{job.date}}</span>
                <a href="{{job.link}}" taget="_blank">Apply</a>
            {%endfor%}
        <section>
    </body>
</html>
